.box {
    background: #ccc;
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
    border-style: ridge;
    height: 100%;
    width: 100%;
    margin:5px 100px 10px 5px;
  }